# ==========================================
# VARIABLES DE ENTORNO / SECRETOS
# ==========================================

.env
*.env
.env.*
!.env.example


# ==========================================
# PYTHON
# ==========================================

__pycache__/
*.py[cod]
*$py.class

venv/
.venv/
env/
ENV/


# ==========================================
# PYCHARM
# ==========================================

.idea/
*.iml


# ==========================================
# VS CODE
# ==========================================

.vscode/


# ==========================================
# SISTEMA OPERATIVO
# ==========================================

.DS_Store
Thumbs.db


# ==========================================
# LOGS
# ==========================================

*.log


# ==========================================
# CACHE
# ==========================================

.pytest_cache/
.mypy_cache/
.ruff_cache/